<div class="container" style="margin-top: 50px;">

  <div class="col-10">
    <div class="card">
      <div class="row">
        <h6 class="card-title">Nome</h6>
        <p class="card-text">Ítalo Silvestre de Oliveira da Silva </p>
      </div>
      <div class="row">
        <h6 class="card-title">Idade</h6>
        <p class="card-text">24 anos</p>
      </div>
      <div class="row">
        <h6 class="card-title">Telefone</h6>
        <p class="card-text">(19)9 9652-2834</p>
      </div>
      <div class="row">
        <h6 class="card-title">Email</h6>
        <p class="card-text">italo@email.com</p>
      </div>
      <div class="row">
        <h6 class="card-title">Endereço</h6>
        <p class="card-text">Rua João Mendes, 16, Bairro da Saudade, Mogi Mirim</p>
      </div>

    </div>

    <!-- <div class="row">
      <div class="col-3">
        <div class="card-body">
          <h6 class="card-title">Nome</h6>
          <p class="card-text">Ítalo Silvestre de Oliveira da Silva </p>
        </div>
      </div>
      <div class="col-2">
        <div class="card-body">
          <h6 class="card-title">Idade</h6>
          <p class="card-text">24 anos</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card-body">
          <h6 class="card-title">Telefone</h6>
          <p class="card-text">(19)9 9652-2834</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card-body">
          <h6 class="card-title">Email</h6>
          <p class="card-text">italo@email.com</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card-body">
          <h6 class="card-title">Endereço</h6>
          <p class="card-text">Rua João Mendes, 16, Bairro da Saudade, Mogi Mirim</p>
        </div>
      </div>
    </div> -->
  </div>

  <div class="card col-10" style="height: auto; margin-top:20px; padding: 30px 30px 0 30px">
    <div class="row cards">
      <div class="col cardTeste teste" *ngFor="let card of cards; let even = even">{{card}}</div>
    </div>
    <div class="row cards">
      <div class="col cardTeste teste" *ngFor="let card of cards; let even = even">{{card}}</div>

    </div>
  </div>

</div>
